<h2>
			People List
		</h2>

		<div class="radio-toolbar">
			<input
				type="text"
				name="filter"
				value=""
				[(ngModel)]="form.filter"
				(ngModelChange)="applyFilter()"
				placeholder="Search..."
				autocomplete="off"
				autofocus
				class="filter"
			/>

			<div id="C" class="column">
				<label for="filterC">Radio button that appears like a button with the value of "C"</label>
			 <input
				 type="radio"
				 name="filterC"
				 value="C"
				 [(ngModel)]="form.filter"
				 (ngModelChange)="applyFilter()"
				 autocomplete="off"
				 autofocus
				 class="filter"
			 />
				</div>
				<div id="clear" class="column">
					<label for="filterClear">Radio button that appears like a button with the value of ""</label>
				 <input
					 type="radio"
					 name="filterClear"
					 value= ""
					 [(ngModel)]="form.filter"
					 (ngModelChange)="applyFilter()"
					 autocomplete="off"
					 autofocus
					 class="filter"
				 />
					</div>
		</div>

		<ul class="items">
			<li
				*ngFor="let result of results"
				class="items__item"
				[class.items__item--hidden]="( ! result.isVisible )">

				<a routerLink="/people/{{ result.person.id }}/detail">
					{{ result.person.name }}
				</a>

			</li>
		</ul>
